* {
  margin: 0;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  src: url('font/FloodStd.otf');
  font-family: Flood Std;
}

header h1 {
  font: Bold 22px/28px Helvetica;
  text-transform: capitalize;
  text-align: center;
  color: #354463;
  padding: 2% 0%;
}

.container {
  background: url('Images/Donation-compress.png') no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 10%;
}

.quote {
  padding-top: 5%;
  color: white;
  font: 32px/46px Flood Std;
  text-transform: uppercase;
  text-align: center;
}

.donation-form {
  align-self: center;
  width: 60%;
  background-color: #354463;
  text-align: left;
  padding: 5%;
  margin-left: 15%;
}

.expiration {
  display: grid;
  grid-template-columns: 50% 50%;
  white-space: nowrap;
}

.name,
.card-details {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}

.donation-form input {
  width: 80%;
}

.address-details {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.third-heading {
  font: Bold 14px/18px Helvetica;
}

.donation-form h1 {
  font: Bold 22px/28px Helvetica;
  color: white;
  text-align: left;
}

.donation-form label {
  text-transform: uppercase;
  font: 11px/13px Helvetica;
  color: white;
}

.donation-form input,
select {
  border: none;
  border-bottom: 2px solid #c1f7d5;
  background: transparent;
  color: #c1f7d5;
}

.donation-form a {
  color: #c1f7d5;
}

button {
  border: none;
  border-radius: 10vw;
  padding: 15px 32px;
  background-color: #c1f7d5;
  text-align: center;
  text-transform: capitalize;
}

.btn {
  position: relative;
}

.container4 {
  width: 80%;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: 40% 50%;
  justify-items: start;
  grid-gap: 1.5em;
}

.container4 img {
  margin-top: 10%;
  margin-left: 75%;
}

.container4 hr {
  visibility: hidden;
}

.container4 h1 {
  font: Bold 22px/28px Helvetica;
}

.container4 h3 {
  text-transform: uppercase;
  font: lighter 14px/20px Helvetica;
}

.container4 p {
  font: lighter 14px/20px Helvetica;
  width: 90%;
}

.green-trees {
  color: #354463;
  font: Bold 18px/22px Helvetica;
  grid-row: 1;
}

@media (min-width: 768px) {
  .quote {
    margin-bottom: 5%;
  }

  .address-details {
    grid-template-columns: 50% 20% 20%;
  }

  .card-details {
    grid-template-columns: 60% 20%;
  }

  .btn {
    margin-left: 60%;
  }

  .go-back {
    position: relative;
    bottom: 6vw;
  }

  .container4 {
    grid-template-columns: repeat(3, 30%);
  }

  .links p {
    width: 50%;
  }

  .container4 img {
    margin-left: 0%;
  }

  .green-trees {
    grid-row: 1/3;
  }
}

@media (min-width: 769px) {
  .quote {
    width: 15%;
    margin-left: 60%;
  }

  .donation-form {
    width: 30%;
    margin-top: -18%;
    margin-left: 10%;
  }

  .btn {
    width: 100%;
    position: relative;
  }

  .go-back {
    position: relative;
    bottom: 4vw;
  }

  .container4 {
    width: 80%;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 25%;
    justify-items: start;
    grid-gap: 1.5em;
  }

  .container4 img {
    margin-top: 0%;
  }

  .container4 h1 {
    font: Bold 22px/28px Helvetica;
  }

  .container4 h3 {
    text-transform: uppercase;
    font: lighter 14px/20px Helvetica;
  }

  .container4 p {
    font: lighter 14px/20px Helvetica;
    width: 90%;
  }

  .container4 hr {
    visibility: visible;
  }

  .green-trees {
    color: #354463;
  }
}
