body {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('font/FloodStd.otf');
  font-family: Flood Std;
}

header {
  width: 80%;
  padding-left: 8vw;
}

.container {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.heading {
  width: 20%;
  text-transform: capitalize;
  color: #354463;
  font: Helvetica;
  margin-right: 5vw;
}

header a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
  margin-left: 5vw;
}

button {
  border: none;
  border-radius: 10vw;
  padding: 15px 32px;
  background-color: #c1f7d5;
  text-align: center;
  text-transform: capitalize;
}

button:hover {
  color: darkblue;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 100vh;
  background: url('Images/annie-spratt-135307-unsplash-compress.png') no-repeat;
  background-size: cover;
  background-position: top;
}

.images {
  align-self: flex-end;
  margin-top: 9vw;
  margin-right: 21vw;
}

.white-box {
  margin-top: -15%;
  margin-left: 10%;
  background-color: white;
  width: 35%;
  color: black;
  text-align: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.the-issue {
  color: white;
  background-color: #354463;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  margin-top: -12%;
  padding: 0.5% 4%;
  margin-left: 5%;
  font: 14px/17px Helvetica;
}

.climate-issue p {
  color: #354463;
  font: Bold 44px/56px Helvetica;
  background-color: white;
  padding: 2% 3% 2% 3%;
  text-align: left;
}

.climate-issue a {
  color: #354463;
}

#options {
  width: 100%;
  background-color: #c1f7d5;
  display: flex;
  flex-flow: column;
  padding-bottom: 5vw;
}
.all-options {
  width: 80%;
  display: flex;
  position: relative;
  align-self: center;
  margin-left: 12vw;
}
.ind-option {
  position: relative;
  display: flex;
  width: 55%;
  flex-flow: row;
}
.ind-option div {
  margin-right: 5vw;
}
.take-action {
  width: 10%;
  position: relative;
  display: flex;
  flex-flow: column;
  align-self: center;
  background-color: #354463;
  top: -1vw;
  font-size: 1.1vw;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
#options h2 {
  color: #354463;
  font: Bold 28px/36px Helvetica;
  margin-bottom: 0;
}
#options p2 {
  color: #354463;
  font: Light 16px/24px Helvetica;
}

.container3 {
  background-color: #354463;
  padding-top: 5%;
  padding-bottom: 5%;
}

.what-we-do {
  background-color: white;
  width: 8%;
  padding: 0.5%;
  text-align: center;
  text-transform: uppercase;
  margin-left: 10%;
}

.mission {
  color: white;
  text-align: left;
  width: 80%;
  font: Bold 28px/50px Helvetica;
  padding-left: 10%;
}

.three-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.three-container h2 {
  width: 60%;
}

.three-container img {
  width: 21vw;
  height: 32vh;
  padding-left: 10%;
  margin-top: -35%;
}
.three-container button {
  width: 50%;
}

.tree-planting {
  color: black;
  background-color: white;
  width: 80%;
  display: flex;
  flex-flow: column;
  padding: 20% 5% 10% 5%;
}

.tree-planting h2 {
  text-transform: capitalize;
}

.education {
  color: black;
  background-color: white;
  width: 80%;
  display: flex;
  flex-flow: column;
  padding: 20% 5% 10% 5%;
}

.advocacy {
  color: black;
  background-color: white;
  width: 80%;
  display: flex;
  flex-flow: column;
  padding: 20% 5% 10% 5%;
}

.DYN-container {
  background: url('Images/did-you-know-background-compress.png') no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

.climate-cange-section,
.cards-section {
  padding-top: 10%;
}

.climate-cange-section {
  display: flex;
  flex-direction: column;
}

.cards-section {
  display: flex;
}

.climate-change-text {
  color: white;
  font: 54px/56px Flood Std;
}

.climate-change-text p {
  margin: 0%;
}

.DYN-patch {
  background-color: #354463;
  color: white;
  position: relative;
  height: 7vh;
  bottom: 2vw;
  left: 16vw;
  font: 14px/17px Helvetica;
  text-transform: uppercase;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.DYN-all-cards {
  display: flex;
  flex-direction: column;
}

.cards {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 10%;
}
.card-content h3 {
  font: Bold 34px/56px Helvetica;
  margin: 0%;
}

.card-content p {
  margin-top: 0%;
}

.btn-take-action {
  margin-top: 10%;
}

.social-media-logo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 2vw;
}

.social-media-logo img {
  background-color: #c1f7d5;
  border: none;
  border-radius: 40%;
  padding: 20%;
}

.container4 {
  width: 80%;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 25%;
  justify-items: start;
  grid-gap: 1.5em;
}

.container4 img {
  margin-top: 10%;
}

.container4 h1 {
  font: Bold 22px/28px Helvetica;
}

.container4 h3 {
  text-transform: uppercase;
  font: lighter 14px/20px Helvetica;
}

.container4 p {
  font: lighter 14px/20px Helvetica;
  width: 90%;
}

.green-trees {
  color: #354463;
}

@media only screen and (max-width: 768px) {
  .container {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .heading {
    width: 60%;
  }
  header {
    display: flex;
    justify-content: start;
    margin-bottom: 10%;
  }

  nav {
    padding-bottom: 2vw;
  }

  li {
    margin-left: 0;
    margin-right: 5vw;
  }

  .btn-donate {
    margin-top: -35%;
    margin-left: 120%;
  }

  button {
    width: 20vw;
    border: none;
    border-radius: 10vw;
    padding: 15px 32px;
    background-color: rgb(165, 218, 212);
    text-align: center;
    text-transform: capitalize;
  }

  .container2 {
    background: url('Images/tab-annie-spratt-135307-unsplash@2x-compress.png') no-repeat;
    background-size: cover;
  }

  .images {
    align-self: flex-start;
    margin-left: 10%;
  }

  .images img {
    max-width: 40%;
  }

  .white-box {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .climate-issue p {
    font: Bold 36px/46px Helvetica;
  }

  .the-issue {
    margin-top: -7%;
  }

  .take-action {
    width: 30%;
    top: -2vw;
    font: 14px/17px Helvetica;
  }

  .options {
    flex-flow: row;
    align-items: center;
  }

  .all-options {
    flex-flow: row;
    justify-content: space-between;
  }

  .all-options h2 {
    font: Bold 22px/28px Helvetica;
  }

  .all-options p2 {
    font: lighter 16px/24px Helvetica;
  }

  .ind-option {
    flex-flow: column wrap;
  }

  .what-we-do {
    width: 15%;
    padding: 0.3%;
  }

  .mission {
    text-align: left;
    font: Bold 21px/35px Helvetica;
  }

  .three-container {
    flex-direction: column;
  }

  .three-container button {
    position: absolute;
    margin-top: 15%;
    width: 20%;
    margin-left: -50%;
  }

  .three-container img {
    width: 35vw;
    height: 42vh;
    margin-top: -50%;
    padding-left: 0%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .three-container h2 {
    width: 100%;
    margin: 0%;
    font: Bold 22px/28px Helvetica;
    margin-top: -30%;
    margin-left: 10%;
  }

  .three-container p {
    margin-left: 10%;
    font: lighter 16px/24px Helvetica;
  }

  .tree-layout {
    padding-bottom: 5%;
  }

  .tree-planting {
    flex-flow: row;
  }

  .education-layout {
    padding-bottom: 5%;
  }

  .education {
    flex-flow: row;
  }

  .advocacy {
    flex-flow: row;
  }

  .climate-cange-section {
    padding-left: 10%;
  }

  .climate-change-text {
    font: 44px/46px Flood Std;
  }

  .DYN-patch {
    font: 12px Helvetica;
    left: 21vw;
    width: 30%;
  }

  .container4 {
    grid-template-columns: repeat(3, 30%);
  }

  .links p {
    width: 50%;
  }

  .green-trees {
    grid-row: 1/3;
  }
}

@media only screen and (max-width: 425px) {
  header {
    padding-top: 5%;
    margin-bottom: 0%;
  }

  .container {
    width: 100%;
  }

  .heading {
    font-size: 2.5vw;
    width: 90%;
  }

  nav {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 60%;
    margin-top: -20%;
  }

  .btn-donate {
    margin-left: 0%;
    margin-top: 5%;
    width: 100%;
    padding-bottom: 5%;
  }

  button {
    width: 70vw;
    background-color: #c1f7d5;
    padding: 10px 52px;
  }

  a {
    font: lighter 14px/20px Helvetica;
  }

  .white-box {
    width: 80%;
  }

  .climate-issue p {
    font: Bold 22px/28px Helvetica;
    text-align: center;
  }

  .the-issue {
    font: 12px/17px Helvetica;
    width: 50%;
    margin-left: 20%;
  }

  .DYN-container {
    flex-direction: column;
  }

  .climate-cange-section,
  .cards-section {
    align-self: center;
    margin-left: 0%;
  }

  .climate-cange-section {
    align-items: center;
  }

  .climate-cange-section p {
    text-align: left;
  }

  .DYN-patch {
    width: 40%;
    left: 28vw;
    top: 4vw;
  }

  .cards-section {
    flex-direction: column;
  }

  .DYN-all-cards {
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn-take-action button {
    width: 45vw;
  }

  .social-media-logo {
    width: 4vw;
  }

  .container4 {
    grid-template-columns: 40% 50%;
  }

  .green-trees {
    font: Bold 18px/22px Helvetica;
    grid-row: 1;
  }

  .container4 img {
    margin-left: 50%;
  }

  .container4 hr {
    visibility: hidden;
  }

  .take-action {
    width: 35%;
    font: 14px/17px Helvetica;
    top: -5vw;
  }

  .all-options h2 {
    font: Bold 18px/22px Helvetica;
  }

  .all-options p2 {
    font: lighter 14px/20px Helvetica;
  }

  .what-we-do {
    width: 30%;
    margin-left: 30%;
  }

  .mission {
    text-align: center;
    width: 90%;
    padding-left: 5%;
    font: Bold 18px/28px Helvetica;
  }

  .three-container button {
    margin-top: -2%;
    margin-left: 15%;
    width: 30%;
    padding: 10px 20px;
  }

  .three-container img {
    width: 61vw;
    height: 42vh;
    margin-top: -35%;
  }

  .three-container h2 {
    margin-top: 20%;
    text-align: center;
    margin-left: 0%;
    color: #354463;
  }

  .three-container p {
    text-align: center;
    margin-left: 0%;
    padding-bottom: 10%;
  }

  .tree-layout,
  .education-layout {
    padding-bottom: 20%;
  }

  .tree-planting,
  .advocacy,
  .education {
    flex-flow: column;
  }
}
